<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401474131688-og10e7q8ab2ctjiob14n2qf93kbefa21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401474131688-og10e7q8ab2ctjiob14n2qf93kbefa21</string>
	<key>API_KEY</key>
	<string>AIzaSyAdl_U0iKEIEhuNewF0xuwZr_ZASiGNS0E</string>
	<key>GCM_SENDER_ID</key>
	<string>401474131688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrd.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-73bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-73bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401474131688:ios:a0e2314b83804fdffa1b5d</string>
</dict>
</plist>